<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Digite uma mensagem</h1>

    <form action="/mensagem_post" method="post" accept-charset="utf-8">
        <label id="mensagem" name="mensagem" for="mensagem">Mensagem: </label>
        <input type="text" name="mensagem" value="" />
    
        <input type="submit" name="enviar" value="enviar" />
    </form>
    <a href="/logout">Sair</a>
</body>
</html>