<h1>Login</h1>
<form action="/login" method="post">
<label>Nome de Usuário:</label>
<input type="text" name="usuario" required><br><br>
<label>Senha:</label>
<input type="password" name="senha" required><br><br>
<input type="submit" value="Login">
</form>